/Code
/Mousepad
/Notion
/Postman
/Slack
/autostart
/autostart
/gcloud
/dconf
/dlv
/gcloud
/QtProject.conf
/btop
/github-copilot
/go/telemetry/local
/google/Endpoint Verification
/google-chrome
/libreoffice/4/user
/lazygit
/lazygit
/herdr
/htop
/gtk-4.0
/gtk-3.0
/gopls
/backgrounds
/dolphinrc
/zen
/menus/applications-merged
/mozilla/firefox
/neofetch
/net.imput.helium
/nextjs-nodejs
/pavucontrol.ini
/pdfcpu
/pulse
/session
/spotify
/user-dirs.dirs
/user-dirs.locale
/wofi
/xsettingsd
/nvm
/nvim.lazyvim.bak
/nwg-displays
/nwg-look
/mimeapps.list
